body {
    width: 100%; /* Задаём адаптивную ширину */
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories {
    padding: 0 20px; /* Уменьшены боковые отступы для компактности */
    text-align: center; /* Центрирование содержимого */
    

}

.categories__card:hover{
    transform: translateY(-5px);
}

.categories__title {
    margin: 0;
    padding: 20px 0; /* Отступы сверху и снизу для визуального разделения */
    font-size: 24px; /* Уменьшен размер текста */
    font-weight: bold;
    line-height: 1.2;
    
}

.categories__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Автоматическое изменение числа колонок */
    gap: 15px; /* Отступы между карточками */
    width: 100%; /* Контейнер занимает всю ширину */
    max-width: 600px; /* Ограничение ширины для компактного отображения */
}


.categories__card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px; /* Внутренние отступы для текста */
    border-radius: 10px; /* Округление углов */
    background: #eee; /* Светлый фон карточки */
    font-size: 14px; /* Размер шрифта для компактного текста */
    font-weight: bold;
    line-height: 1.2; /* Высота строки для переноса текста */
    word-wrap: break-word; /* Перенос слов */
    height: 100px; /* Фиксированная высота для выравнивания карточек */
    cursor: pointer;
}
