html {
  scroll-behavior: smooth;
}

footer {
  display: flex;
  flex-direction: column; 
  align-items: stretch;
  
  font-family: Rubik;
  background-color: #F0F0F0;
  width: 100%;
  box-sizing: border-box; 
  
}

.footer__wrapper {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
  flex-wrap: wrap; 
  gap: 20px; 
  margin-bottom: 20px; 
}


.footer__info-block {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  align-items: flex-start;
  margin-left: auto;

  padding: 53px 75px 0; 
  /* line-height: 1.2; */
  gap: 40px; 
  width: 65%;
  box-sizing: border-box;

}


.footer__title {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: flex-start; 

  width: 30%;
  margin-left: 25px;
}

.footer__images-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer__title-direction {
  margin-left: 15px;
}

.footer__title-direction p {
  margin-top: 15px;
  color: #00000099;
}

.footer__title-direction h2 {
  font-size: 28px;
  font-family: Poppins;
}

.footer__company,
.footer__help,
.footer__faq,
.footer__resources, h4 {
  margin-top: -15px;
}

.footer__info-block h4 {
  margin: 0 0 10px;
  color: #000;
}

.footer__info-block a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #00000099;
}

.footer__info-block a:hover {
  text-decoration: underline;
}

.footer__hr {
  border: none;
  height: 1px;
  background-color: #0000001A;
  margin: 0 auto;
  width: 96%; 
}

.under__hr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  gap: 530px;
}

.footer__copyright {
  color: #00000099;
  font-size: 18px;
}

.footer__credit-cards {
  display: flex;
  align-items: center;
  justify-content: flex-end;  
} 




@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 10px;
  }

  .footer__info-block {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px; 
    gap: 20px; 
  }

  .footer__info-block > div {
    flex: 1 1 calc(50% - 20px); 
    box-sizing: border-box; 
  }


  .footer__title {
    width: 75%;
    margin-left: -120px;
  }

  .footer__title-direction h2 {
    font-size: 24px; 
  }

  .footer__images-container {
    flex-wrap: wrap; 
    gap: 10px;
  }

  .under__hr {
    flex-direction: column; 
    gap: 5px; 
  }

  .footer__credit-cards {
    justify-content: center; 
    margin-top: 10px;
  }

  .footer__copyright {
    font-size: 16px; 
    text-align: center; 
  }
}


@media (max-width: 480px) {
  .footer__title-direction h2 {
    font-size: 20px; 
  }

  .footer__info-block {
    padding: 10px;
  }

  .footer__title {
    width: 90%;
    margin-right: -100px;
    margin-bottom: 20px;
  }

  .footer__wrapper {
    gap: 5px; 
  }
}


@media (max-width: 390px) {
  .footer__title {
    width: 90%;
    /* margin-left: 350px; */
  
  }
}
