.product-detail {
  margin-left: auto;
  /* padding: 16px; */
  max-width: 580px;
  font-family: Poppins;
}

h2 {
  font-size: 40px;
  margin-bottom: 6px;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.description {
  padding-bottom: 15px;
}

p {
  color: #00000099;
  font-family: Rubik;
  padding: 7px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 7px;
}

.rating .stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.rating img {
  width: auto; /* Убедись, что размер иконок одинаковый */
  height: auto;
  display: block; /* Убирает лишние пробелы вокруг изображений */
}


/* цена */
.price-container {
  display: flex;
  gap: 15px;
  align-items: center;
  font-weight: bold;
  font-family: Rubik;
  padding-bottom: 7px;
}

.price {
  font-size: 32px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  font-size: 32px;
}

.discount {
  display: inline-flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #F33;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 62px;
background: rgba(255, 51, 51, 0.10);
}

/* бренд и склад */
.brand, .stock {
  font-size: 24px;
  padding: 7px;
}

.style_brand, .style_stock {
  font-size: 16px;
  padding: 7px;
}

/* счётчик */
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 62px;
  width: 170px;
  height: 52px;
  gap: 15px;
  margin: 16px 0;
  background-color: #F0F0F0;
}

.minus, .plus {
  background: none; 
  border: none; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.plus:hover, .minus:hover {
  transform: scale(1.2);
}

.counter-value {
  min-width: 24px;
  text-align: center;
}

/* кнопка добавления в корзину */
.add-to-cart {
  display: flex;
  padding: 16px 139px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 62px;
  background: #000;
  border: none;
  color: #fff;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 20px;
}

.add-to-cart:hover {
  background: #F2F0F1;
  color: #000;
}

.buttonsConteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

/* 4 контейнера для имитации картинок */

/* .details {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  flex-wrap: nowrap; 
  width: 100%;
}

.details > div {
  flex: 1; 
  max-width: 48%; 
}


.imgs {
  display: grid; 
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 40%; 
  padding: 10px; 
  height: 600px;
}

.imgs > div {
  height: 250px;
  background-color: rgb(85, 80, 80);
  border-radius: 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease-in-out; 
}

.imgs > div:hover {
  transform: translateY(-5px);
}

 */


/* Адаптивность */
@media (max-width: 1024px) {
  .product-detail {
    padding: 12px;
    max-width: 500px;
  }

  h2 {
    font-size: 36px;
  }

  .price {
    font-size: 28px;
  }

  .old-price, .discount {
    font-size: 24px;
  }

  .add-to-cart {
    padding: 14px 100px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .product-detail {
    padding: 8px;
    max-width: 100%;
  }

  h2 {
    font-size: 32px;
  }

  .price {
    font-size: 24px;
  }

  .old-price, .discount {
    font-size: 20px;
  }

  .counter {
    width: 140px;
    height: 44px;
    gap: 10px;
  }

  .add-to-cart {
    width: 316px;
    padding: 12px 80px;
    font-size: 14px;
    margin-right: 0;
  }

  .buttonsConteiner {
    flex-direction: row; /* Оставляем кнопки в строку */
    flex-wrap: wrap; /* Позволяем кнопкам сжиматься, если не хватает места */
    justify-content: center; /* Центруем кнопки */
    gap: 42px;
  }


  /* .details {
    flex-direction: column;
  }
  .imgs {
    grid-template-columns: repeat(2, 1fr); 
  }

  .imgs > div {
    height: 120px; 
  } */
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px;
  }

  .price {
    font-size: 20px;
  }

  .counter {
    width: 111px;
    height: 40px;
  }

  .add-to-cart {
    width: 216px;
    padding: 10px 60px;
    font-size: 12px;
  }
  .buttonsConteiner {
    flex-direction: row; /* Оставляем кнопки в строку */
    flex-wrap: wrap; /* Позволяем кнопкам сжиматься, если не хватает места */
    justify-content: center; /* Центруем кнопки */
    gap: 28px; 
  }
}
