body {
  text-align: left; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left; 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.message-boxtitle {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  text-align: left; 
}

.message-box {
  text-align: left; 
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 15px;
  margin-left: 55px;
}

.message-box p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  line-height: 1.5;
}