body {
  text-align: left;
}

.message-boxtitle {
  font-size: 40px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  text-align: left;
}

.message-box {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 715px;
  padding: 15px;
  margin-top: 18px;
}

.message-box p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #555555;
  line-height: 1.5;
}
