.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-family: 'Poppins';
  padding: 0 100px;
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.logo span {
  color: #000;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.icons {
  display: flex;
  gap: 20px;
}

.headerburgermenu {
  display: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
  }
}

/* 
@media (max-width: 550px) {
  .headerburgermenu {
    display: flex; 

    
  }

  .logo span{
    font-size: 24px; 
  }
} */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
