.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  background-color: white;
  font-family: 'Poppins';
  @media (max-width: 768px) {
    padding: 10px 16px;
}
}
 
.logo span {
  font-size: 32px;
  font-weight: bold;
}
 
.icons {
  display: flex;
  gap: 20px;
}

.headerburgermenu {
  display: none; 
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
}
}

/* 
@media (max-width: 550px) {
  .headerburgermenu {
    display: flex; 

    
  }

  .logo span{
    font-size: 24px; 
  }
} */

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}


.header-separator {
  height: 1px; 
  background-color: rgba(0, 0, 0, 0.1); 
  width: 100%; 
  margin-top: 10px; 
  flex-basis: 100%; 
  align-self: stretch; 
}