.createCheckoutFormSection {
  display: flex;
  flex-direction: column;
}

.formSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.fieldsSection.payment {
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
}

.cart-title {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
  h1 {
    text-align: left !important;
    margin-left: 16px;
  }
}

h2 {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}

.grayStyle {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}

.blackBoldText {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 10px 0;
}

.redText {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 51, 51, 1);
  margin: 10px 0;
}

.blackStyle {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin: 10px 0;
}

.blackBigBoldText {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 10px 0;
}

.buttonBlack {
  width: 100%;
  border-radius: 62px;
  height: 60px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border-width: 0;
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.separator {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  width: 100%;
}

@media (max-width: 768px) {
  .formSection {
    flex-direction: column; /* Переключаем направление на вертикальное */
    align-items: stretch; /* Растягиваем элементы на всю ширину */
  }

  .fieldsSection {
    margin-left: 0; /* Убираем отступ слева */
    width: 100%; /* Полная ширина */
  }

  .orderSummarySection {
    margin: 20px 0 0 0; /* Отступ сверху */
    width: 100%; /* Полная ширина */
    margin-right: 0; /* Убираем правый отступ */
    padding: 10px; /* Обновляем отступы для мобильной версии */
  }

  h1 {
    margin-left: 0; /* Убираем отступ слева */
    text-align: center; /* Выравниваем заголовок по центру */
  }
}
